.ec-header-h3 {
color: #FF0000 !important;
}
button.gwt-Button, #wrapper button.gwt-Button { 
    border-radius: 13px; 
    -moz-border-radius: 13px; 
    -webkit-border-radius: 13px; 
    height: 28px; 
    background-color: #e4e4e4; 
    padding: 0 15px; 
  }  
   
  button.gwt-Button:active,
  #wrapper button.gwt-Button:active { 
    background-color: #999999; 
  }  
   
  div.ecwid-productBrowser-details-rightPanel div.ecwid-productBrowser-backgroundedPanel {
    min-width:185px; 
    width:auto; 
  }
